@import "tailwindcss";

.grid-background {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }

/* App.css */

.text-glow-pulse {
    color: #fff;
    text-shadow:
      0 0 6px #fff,
      0 0 12px #ec4899,
      0 0 20px #ec4899,
      0 0 30px #ec4899;
  
    animation: pulseText 1.5s ease-in-out infinite;
  }
  
  @keyframes pulseText {
    0%, 100% {
      text-shadow:
        0 0 6px #fff,
        0 0 12px #ec4899,
        0 0 20px #ec4899,
        0 0 30px #ec4899;
    }
    50% {
      text-shadow:
        0 0 10px #fff,
        0 0 20px #ec4899,
        0 0 30px #ec4899,
        0 0 40px #ec4899;
    }
  }
  